---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thank+you%21+Your+order+was+placed+and+will+be+delivered+before+13%3A06.&From=%2B14054631017&To=%2B447563564673
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiYmM5MDQ4ZDJlZjkzMDY1NGMyMTc0YTA4ZDFiMDNjYjowYjU1Y2E1MmMxYzBhOWQ5YTEzMzA1OTkyOGEyMDg1Nw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ5ee3e8a66cc14208b8c8b08ad7328655
      Twilio-Request-Duration:
      - '0.101'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM49148911136f4dec8a338144b733fd69", "date_created": "Sun,
        05 Jan 2020 12:06:32 +0000", "date_updated": "Sun, 05 Jan 2020 12:06:32 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "<TELEPHONE>",
        "from": "<TWILIO_NUMBER>", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - Thank you! Your order was placed and will be delivered
        before 13:06.", "status": "queued", "num_segments": "1", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM49148911136f4dec8a338144b733fd69.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM49148911136f4dec8a338144b733fd69/Media.json"}}'
  recorded_at: Sun, 05 Jan 2020 12:06:33 GMT
recorded_with: VCR 5.0.0
