---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B442033228961&To=%2B447511111735&Body=Thank+you.+Received+payment+of+%C2%A35.99.+Your+order+will+be+delivered+by+18%3A50
    headers:
      Authorization:
      - Basic QUMxZjJkN2I2ZmJkNTc0Y2UyOWRjYjFjODY3MWE5NDkwODpiODI1NDk2YzE5ZjU2NjA4NjUxNWVlMTM0MTVlYjMwYw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.436'
      Twilio-Request-Id:
      - RQc19be2277cdc4de2ad5eecd8cad240a2
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM8ba837238397427890474aadfce746b2", "date_created": "Sun,
        20 Nov 2016 17:50:26 +0000", "date_updated": "Sun, 20 Nov 2016 17:50:26 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "<TWILIO_DESTINATION_PHONE>",
        "from": "<TWILIO_PHONE>", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - Thank you. Received payment of \u00a35.99. Your
        order will be delivered by 18:50", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM8ba837238397427890474aadfce746b2.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM8ba837238397427890474aadfce746b2/Media.json"}}'
  recorded_at: Sun, 20 Nov 2016 17:50:27 GMT
recorded_with: VCR 3.0.3
