---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+order+is+on+it%27s+way%21+Your+total+is+%2415.75+and+it+should+arrive+before+12%3A53.&From=%2B447480821787&To=%2B447800857462
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNlNDZlMTc1Yzk1Njg3NDA5YTI2NDM4Y2Y0OWZmZTY0ZjphNWI2NmUzMWY2MTcxZjNiN2FmYWExZDAyZTI0NzQzYQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.138'
      Twilio-Request-Id:
      - RQab04b1e7563140648ed6647f3369eaa4
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM44393ba011974125bb28aebf71c7ca11", "date_created": "Sun,
        01 Apr 2018 11:53:34 +0000", "date_updated": "Sun, 01 Apr 2018 11:53:34 +0000",
        "date_sent": null, "account_sid": "<TWILIO_SID>", "to": "<MY_PHONE>", "from":
        "<TWILIO_PHONE>", "messaging_service_sid": null, "body": "Sent from your Twilio
        trial account - Your order is on it''s way! Your total is $15.75 and it should
        arrive before 12:53.", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_SID>/Messages/SM44393ba011974125bb28aebf71c7ca11.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_SID>/Messages/SM44393ba011974125bb28aebf71c7ca11/Media.json"}}'
  recorded_at: Sun, 01 Apr 2018 11:53:34 GMT
recorded_with: VCR 4.0.0
