---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+order+was+placed+and+will+be+delivered+before+15%3A35&From=%2B447533006429&To=%2B447533105683
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhNzVlYTBhMDcwZDAwMTBhNzJkYjlmZTQ5ODc3YWM5ODphNTM4ZTcyNTk1MTFlMDI4OGIzOWQzNDBmMWJkN2UzMA==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.082'
      Twilio-Request-Id:
      - RQfe3b9bbefd144cb2ba1a2ab459679f40
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM9bbc3a0f80b54165bcef8a5f97f1d2a0", "date_created": "Sun,
        29 Apr 2018 13:35:50 +0000", "date_updated": "Sun, 29 Apr 2018 13:35:50 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "<TWILIO_DESTINATION_PHONE>",
        "from": "<TWILIO_PHONE>", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - Your order was placed and will be delivered before
        15:35", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM9bbc3a0f80b54165bcef8a5f97f1d2a0.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM9bbc3a0f80b54165bcef8a5f97f1d2a0/Media.json"}}'
  recorded_at: Sun, 29 Apr 2018 13:35:51 GMT
recorded_with: VCR 4.0.0
