---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC3c7f3add2a39566e305dbf7d80fd56db/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thank+you%21+Your+order+was+placed+and+will+be+delivered+before+05%3A10+PM&From=%2B441827230490&To=%2B447864968591
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzYzdmM2FkZDJhMzk1NjZlMzA1ZGJmN2Q4MGZkNTZkYjo5ODZhY2FmYmI1ODRhZmM3YWUzZTQ4OTkzYTg4ZmU0Zg==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.181'
      Twilio-Request-Id:
      - RQ59cba380fa1e455e8e842058247db356
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMee333a0ab84d40b2b722194b04c0a681", "date_created": "Sun,
        05 Nov 2017 17:10:09 +0000", "date_updated": "Sun, 05 Nov 2017 17:10:09 +0000",
        "date_sent": null, "account_sid": "AC3c7f3add2a39566e305dbf7d80fd56db", "to":
        "+447864968591", "from": "+441827230490", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Thank you! Your order was placed and
        will be delivered before 05:10 PM", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC3c7f3add2a39566e305dbf7d80fd56db/Messages/SMee333a0ab84d40b2b722194b04c0a681.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC3c7f3add2a39566e305dbf7d80fd56db/Messages/SMee333a0ab84d40b2b722194b04c0a681/Media.json"}}'
  recorded_at: Sun, 05 Nov 2017 17:10:09 GMT
recorded_with: VCR 3.0.3
