---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thanks&From=%2B44+7479+270740&To=%2B44+7463+233745
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiYjMzMDI2NGEyODRkNDBjOTI4N2U3MWFjNmM2YjA2NjowMzhmOTZhZWJkYjFjMjdjZGUwM2ZlMzM4YTYyODVhNQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.102'
      Twilio-Request-Id:
      - RQ60f6adbd33474457a8b58e3593bb348e
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM07c01f3696f4488ea06e3717bde575e5", "date_created": "Sat,
        15 Sep 2018 11:39:23 +0000", "date_updated": "Sat, 15 Sep 2018 11:39:23 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+447463233745",
        "from": "+447479270740", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - Thanks", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM07c01f3696f4488ea06e3717bde575e5.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM07c01f3696f4488ea06e3717bde575e5/Media.json"}}'
  recorded_at: Sat, 15 Sep 2018 11:39:23 GMT
recorded_with: VCR 4.0.0
