---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B441134678471&To=%2B447903107385&Body=Thanks+for+your+order.%C2%A0It+will+be+delivered+before+%23%7Btime%7D.
    headers:
      Authorization:
      - Basic QUM4NjdkYzJjMTk0ZjkyNjgwOGQ1ZmQwZmY0NTViMmVhZDo3MzQxN2ZlOWJhZGY2Zjc1NTk1YzY2MGZiNWQ2NTQzOQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.118'
      Twilio-Request-Id:
      - RQed3842391b274af38ae60599df3f84b3
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21606, "message": "The From phone number <TWILIO_PHONE> is
        not a valid, SMS-capable inbound phone number or short code for your account.",
        "more_info": "https://www.twilio.com/docs/errors/21606", "status": 400}'
  recorded_at: Wed, 26 Jul 2017 15:40:44 GMT
recorded_with: VCR 3.0.3
