---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC033ff5fd1ab50ecf84e702ae695c4053/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B441256830268&To=%2B447515356421&Body=Thank+you%21+Your+order+costs+%C2%A315+and+will+be+delivered+before+13%3A15
    headers:
      Authorization:
      - Basic QUMwMzNmZjVmZDFhYjUwZWNmODRlNzAyYWU2OTVjNDA1Mzo3NDQ2NWE0MjI3NTM3YTQzMzc0MWRkMDc0OTYyOWIzYQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.243'
      Twilio-Request-Id:
      - RQe02737e1e04f41a5a7140b7acc4e911d
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMcd9e2f3ebe364e1f90bf2d3b53afc77d", "date_created": "Sun,
        26 Mar 2017 11:15:49 +0000", "date_updated": "Sun, 26 Mar 2017 11:15:49 +0000",
        "date_sent": null, "account_sid": "AC033ff5fd1ab50ecf84e702ae695c4053", "to":
        "+447515356421", "from": "+441256830268", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Thank you! Your order costs \u00a315
        and will be delivered before 13:15", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC033ff5fd1ab50ecf84e702ae695c4053/Messages/SMcd9e2f3ebe364e1f90bf2d3b53afc77d.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC033ff5fd1ab50ecf84e702ae695c4053/Messages/SMcd9e2f3ebe364e1f90bf2d3b53afc77d/Media.json"}}'
  recorded_at: Sun, 26 Mar 2017 11:15:51 GMT
recorded_with: VCR 3.0.3
