---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACacf79708759e4c2197befcf51bdd4657/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thank+you%21+Your+order+was+placed+and+will+be+delivered+before+19%3A40&From=%2B441323700433&To=%2B447935761438
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhY2Y3OTcwODc1OWU0YzIxOTdiZWZjZjUxYmRkNDY1Nzo2MGU1MzhhMGY3ZjFjNWVhYjMxMTQ0OGNhMTgwZTAyYQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.129'
      Twilio-Request-Id:
      - RQ9ef36cf08d6f43f8868d15d5d7fafa97
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM95db7b34fd634274b3248ab93eed4450", "date_created": "Sun,
        01 Apr 2018 17:40:39 +0000", "date_updated": "Sun, 01 Apr 2018 17:40:39 +0000",
        "date_sent": null, "account_sid": "ACacf79708759e4c2197befcf51bdd4657", "to":
        "+447935761438", "from": "+441323700433", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Thank you! Your order was placed and
        will be delivered before 19:40", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACacf79708759e4c2197befcf51bdd4657/Messages/SM95db7b34fd634274b3248ab93eed4450.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACacf79708759e4c2197befcf51bdd4657/Messages/SM95db7b34fd634274b3248ab93eed4450/Media.json"}}'
  recorded_at: Sun, 01 Apr 2018 17:40:43 GMT
recorded_with: VCR 4.0.0
