<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Take Away Restaurant</title>
  <meta name="description" content="Description Goes Here">
  <link rel="stylesheet" type=text/css src="styles/style.css">
</head>
<body>
<h1 id="yy">
  Testing
</h1>
<script>
  document.querySelector('h1').style.color= 'blue'
</script>
</body>
</html>