# Example layout for a env.yml file when used with this program:

TWILIO_NUMBER: 'Sender_Number_Here'
CUSTOMER_NUMBER: 'Recipient_Number_Here'
TWILIO_SID: 'Your_ID_Here'
TWILIO_TOKEN: 'Your_Token_Here'
