---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+order+was+placed+and+will+be+delivered+before+2018-04-01+18%3A32%3A47+%2B0100&From=%2B447481342537&To=%2B447934429256
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkY2RkZTM1M2QyMjY0ODFjM2NjMjg2MzhjNjQ0MmRhNzo5NWY0Y2JiOTNkNmQwNjViZGZkOWQ0NmJjMTUyOTI0OQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.120'
      Twilio-Request-Id:
      - RQf24d77d587d245b08e9f69d0c686b481
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM7ed24674da4044e58475dfbc910a7f02", "date_created": "Sun,
        01 Apr 2018 16:32:48 +0000", "date_updated": "Sun, 01 Apr 2018 16:32:48 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+447934429256",
        "from": "<TWILIO_PHONE>", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - Your order was placed and will be delivered before
        2018-04-01 18:32:47 +0100", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM7ed24674da4044e58475dfbc910a7f02.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM7ed24674da4044e58475dfbc910a7f02/Media.json"}}'
  recorded_at: Sun, 01 Apr 2018 16:32:48 GMT
recorded_with: VCR 4.0.0
