* {
  font-family: Arial, Helvetica, sans-serif;
}

.dish {
  background-color: teal;
  border-radius: 20px;
  border-style: solid;
  border-color: khaki;
  width: 50%;
  height: 200px;
}

.addRemove {
  width: 30px;
}

.dishText {
  vertical-align: middle;
  float: left;
  margin: 20px;
}

.dishImg {
  vertical-align: middle;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  float: right;
  margin: 20px;
  border-style: solid;
  border-color: khaki;
}
