html {
  background-color: black;
  color: aliceblue;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
}

ul#nav-bar {
  list-style-type: none;
  border: #111;
  margin: 0;
  padding: 0;
  float: right;
  font-size: x-large;
}

li.basket {
  display: inline;
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  margin: auto
}

.dish {
  border-bottom: solid;
  border-width: thin;
  margin: 10px;
  padding: 2px;
}

.dish-name {
  margin: 1px;
  display: inline-block
}

p.dish-description {
  font-style: italic
}

p.dish-price {
  text-align: right
}

button.add-to-cart {
  background-color: black;
  color: white;
  float: right;
}